.todos_section_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.todos_section_content > div:nth-child(1) {
  flex: 1 1 66%;
}

.todos_section_content > div:nth-child(2) {
  flex: 1 1 34%;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.new_todo_form {
  display: flex;
  flex-direction: column;
}