.projects_section_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.projects_section_content > div:nth-child(1) {
  flex: 1 1 30%;
  display: flex;
  gap: 50px;
  padding-top: 20px;
}

.new_created_project {
  font-family: 'description-font',monospace;
  font-size: var(--small_font);
  font-weight: bold;
}

.projects_section_content > div:nth-child(2) {
  flex: 1 1 30%;
  display: flex;
  gap: 50px;
}

.projects_section_content > div:nth-child(3) {
  flex: 1 1 30%;
  display: flex;
  gap: 50px;
  border-top: 5px solid var(--fourth_color);
  padding-top: 20px;
}

.projects_section_content > div:nth-child(3) > div {
  border: 5px solid var(--third_color);
  border-radius: 10px;
  justify-self: center;
  line-height: 40px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: var(--button_font);
}

.project_selected {
  color: var(--first_color);
}

.empty_todo_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}



